extend template
block page_title
  title.
    the whole internet - about.

block header_title
  .titletext
    p.
    span.
      about.

block content
  p.
    No, this page doesn't really have a point other than me fiddling with NodeJS and web-thingins.
    There's really not much to see here.
    In truth, I don't know why you're here or how you found this.
    Move along.
