extend template

script(src="/scripts/mysql.js")

block page_title
  title.
    the whole internet - blog.

block header_title
  .titletext
    p.
    span.
      blog.

block content
  .main_content
    - document.write("hello world")
