extend template
block page_title
  title.
    the whole internet.

block header_title
  .titletext
    p.
    span.
      the whole internet.

block content
  p.
    I made a web page.
  p.
    Honestly though, in hindsight, I ask myself why.
