.header
  color #fff
  background #000  
  
  .title
    font-size 36pt
    font-family 'Georgia', serif
    text-align center
    text-transform lowercase
    padding 100px

  .navbar
    text-align center
    margin auto
    background #000
    color #fff
    font-family 'Consolas', 'Courier New', monospace
    font-size 10pt
    display flex
    justify-content space-between
    max-width 50%
    padding 10px

.main_content
  font-family 'Veranda', 'Calibri', sans-serif
  font-size 12pt
  margin 20px
  max-width 800px
  p
    padding 10px

.footer
  font-size 8pt
  color #f00
